:root {
  --color-black: #111111;
  --color-blue: #4271ae;
  --color-green: #718c00;
  --color-cyan: #3e999f;
}

html {
  font-family: monospace;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-cyan);
}

#root {
  display: grid;
  height: 100vh;
}

#terminal {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 860px;
  min-height: 640px;
  box-shadow: 0 7px 14px #00000018;
  margin: auto;
  background: transparent;
  border-radius: 5px;
}

.header {
  display: grid;
  align-items: center;
  position: relative;
  height: 25px;
  background-color: #d6d6d6;
  border-radius: 5px 5px 0 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 6px;
  position: absolute;
  left: 10px;
}

.button {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.close {
  background-color: #ff504f;
  border: 1px solid #f80000;
}

.minimize {
  background-color: #ffbc00;
  border: 1px solid #f19900;
}

.zoom {
  background-color: #00cf1a;
  border: 1px solid #00ae00;
}

.title {
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 2;
  font-weight: 300;
  color: #666;
}

.screen {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 0 0 5px 5px;
}

.screen p {
  margin: 0.5em 0;
  position: relative;
  font-size: 1.2em;
  font-family: monospace;
}

.prompt::before {
  content: 'daniel ';
  color: var(--color-blue);
}

.prompt::after {
  content: ' $';
  color: var(--color-green);
}

#cursor.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  #terminal {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    min-height: 100%;
  }

  .header {
    border-radius: 0;
  }

  .screen {
    border-radius: 0;
  }
}

@media (max-width: 450px) {
  .prompt::before {
    content: '';
  }

  .screen p {
    font-size: 1em;
  }
}
